<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="{{ url_for('static', filename='js/index1.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div id="monitoring_data">
    <h2>Robot 1</h2>
    <input type="text" id="robot1_value" placeholder="Значение или on/off">
    <label>Состояние:</label>
    <input type="text" id="robot1_power" disabled placeholder="Состояние Robot 1">

    <h2>Robot 2</h2>
    <input type="text" id="robot2_value" placeholder="Значение или on/off">
    <label>Состояние:</label>
    <input type="text" id="robot2_power" disabled placeholder="Состояние Robot 2">

    <h2>Smart Camera</h2>
    <input type="text" id="smartcam_value" placeholder="Значение или on/off">
    <label>Состояние:</label>
    <input type="text" id="smartcam_power" disabled placeholder="Состояние Smart Camera">

    <h2>Signal Lamp</h2>
    <input type="text" id="signallamp_value" placeholder="Значение или on/off">
    <label>Состояние:</label>
    <input type="text" id="signallamp_power" disabled placeholder="Состояние Signal Lamp">

    <h2>Terminal</h2>
    <input type="text" id="terminal_value" placeholder="Значение или on/off">
    <label>Состояние:</label>
    <input type="text" id="terminal_power" disabled placeholder="Состояние Terminal">

    <button onclick="sendAllData()">Отправить</button>
</div>
</body>
</html>